body,
html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #333;
    color: #ddd;
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 200px;
    height: auto;
}

.descrição {
    width: 300px;
}

h2 {
    margin-bottom: 5px;
}

.duração {
    width: 300px;
    margin-top: 25px;
}

.barra {
    width: 300px;
    height: 6px;
    border: 1px solid #eee;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

progress {
    height: 6px;
    width: 0;
    background-color: #333;
}

.ponto {
    width: 20px;
    height: 20px;
    background-color: #eee;
    border-radius: 50%;
    margin-left: -10px;

}

.tempo {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

/*volume*/
.volume {
    width: 300px;
    margin-top: 25px;
}

.barravolume {
    width: 300px;
    height: 6px;
    border: 1px solid #eee;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

progress {
    height: 6px;
    width: 0;
    background-color: #333;
}

.pontovolume {
    width: 20px;
    height: 20px;
    background-color: #eee;
    border-radius: 50%;
    margin-left: -10px;

}

.rotulovolume {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

/*volume*/
.player {
    width: 300px;
    display: flex;
    justify-content: space-around;
}

div .botao-pause {
    display: none;

}

div .botao-play,
.botao-pause {
    font-size: 50px;
    cursor: pointer;
    color: #eee;
}

.setas {
    font-size: 40px;
    cursor: pointer;
    color: #eee;
}

.volume {
    display: flex;
    justify-content: space-evenly;
    letter-spacing: 0.5em;
    
}
/* .barradevolume{
    width: 10em;
    
    
} */

@media screen and (max-width:768px) {}